<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">
<!-- Chèn phần Head dùng chung -->
<head th:replace="~{fragments/main-head :: head(title=${title})}"></head>
<body class="bg-creamy-white text-gray-800 font-sans selection:bg-sage-green selection:text-white">

    <!-- Header -->
    <div th:replace="~{fragments/main-header :: header}"></div>
    
    <!-- Main Content -->
    <main class="pt-20">
        <div th:replace="${content}"></div>
    </main>
    
    <!-- Footer -->
    <div th:replace="~{fragments/main-footer :: footer}"></div>
    
</body>
</html>
